.page {
  height: 100vh;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
}
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
}
